.notecard-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.notecard-list-container {
  background-color: var(--grey);
  border: ridge 6px var(--pink);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  overflow: hidden;
}

.notecard-list-container::-webkit-scrollbar {
  display: none;
}

.child {
  scroll-snap-align: center;
  height: 100%;
  width: 100%;
  margin: 0 50%;
}

.add-btn {
  background-color: var(--purple);
  border-radius: 8px;
  border: 2px solid var(--pink);
  font-weight: bold;
  height: 35px;
}

.empty-notecard {
  text-align: center;
  width: 75%;
  text-transform: uppercase;
  color: var(--dark-blue);
}
