.note-desc-comp {
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  padding: 3rem 0;
  width: 95vw;
}
