.card-container {
  background-color: var(--white);
  border-radius: 10px;
  border: var(--purple) solid 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  height: 217px;
  width: 206px;
}

.card-container:hover {
  cursor: pointer;
}

.title {
  text-align: center;
  width: 100%;
}
