* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --dark-blue: #4f646f;
  --black: #535657;
  --purple: #b7adcf;
  --grey: #dee7e7;
  --white: #f4faff;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--black);
}

.login_box {
  background-color: var(--purple);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 5vh 0;
  width: 70%;
  height: 50vh;
  min-height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.other_providers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.other_providers h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
  color: var(--black);
}

.google {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #707070;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.google:hover {
  cursor: pointer;
}

.google p {
  width: 50%;
  text-align: center;
  color: var(--black);
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (min-width: 775px) {
  .login_box {
    width: 65%;
  }

  .container-login {
    width: 50vw;
  }

  .google {
    width: 45%;
  }

  .other_providers {
    width: 60%;
  }
}
