.image-carousel {
  background-color: var(--purple);
  width: 95vw;

  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  overflow: scroll;
}

.image-carousel::-webkit-scrollbar {
  display: none;
}
