.memory-container {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
}

.carousel {
  justify-self: center;
  align-self: center;
}

.header {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: [begin] 1rem [row-1] 50px [row-2] 1rem [row-3] 200px [row-4] 1rem [row-5] 50px [row-6] 1rem [end];
  margin-top: 1rem;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.child1 {
  grid-column-start: row-1;
  grid-column-end: row-2;
}

.child2 {
  grid-column-start: row-3;
  grid-column-end: row-5;
}

@media screen and (min-width: 1400px) {
  section.carousel {
    transform: translateX(-25px);
  }
}
