.add-memory {
  background: none;
  background-color: var(--purple);
  border: none;
  border-radius: 8px;

  margin: 0;
  padding: 1rem;
}

.add-memory h1 {
  text-align: center;
  margin: 0;
  width: 100%;
  color: var(--dark-blue);
}

.add-memory:hover {
  cursor: pointer;
}
