.home-welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-welcome-container h1 {
  text-align: center;
  text-transform: capitalize;
  color: var(--black);
  width: 60%;
  font-size: 40px;
}
