.confirm-container {
  background-color: var(--purple);
  border-radius: 10px;
  border: 3px solid var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 350px;
  height: 25vh;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 3;
}

.buttons {
  width: 50%;
  margin-top: 25%;
}

.buttons button {
  background: none;
  border: none;
  margin: 0 25%;
}

.buttons button:hover {
  cursor: pointer;
}

[data-testid="confirm-message"] {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
