.image-container {
  display: grid;
  background-color: var(--white);
  border-radius: 8px;
  width: 95%;
  height: 550px;
  padding-top: 2rem;
  /* grid template set up */
  grid-template-columns: [first] 2% [col-2] 175px [mid-section] 0 [col-3] 175px [col-4] 2% [end];
  grid-template-rows: [start] 4% [row-1] 20% [row-2] 10% [row-3] 15% [row-4] 100px [row-5] 50px [end];
}

.image-container h1 {
  /* visual effects */
  color: var(--dark-blue);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 30px;

  /* grid set up */
  grid-column-start: col-2;
  grid-row-start: row-2;
  grid-column-end: end;
}

.favourite-0 {
  grid-column-start: col-2;
  grid-row-start: row-1;

  transform: rotate(-15deg);
}
.favourite-1 {
  grid-column-start: col-3;
  grid-row-start: row-2;
  grid-column-end: col-4;
}
.favourite-2 {
  grid-column-start: col-2;
  grid-row-start: row-4;
}

.view-all-btn {
  /* visual effects */
  background-color: var(--purple);
  border: none;
  border-radius: 15px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 23px;

  /* grid set up*/
  grid-column-start: col-3;
  grid-row-start: row-5;
}
