.image-container {
  display: grid;
  background-color: var(--white);
  border-radius: 8px;
  width: 95%;
  height: 550px;
  padding-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (min-width: 768px) {
  .image-container {
    width: 45%;
    min-width: 751px;
    max-width: 45vw;
    min-height: 749px;
    max-height: 750px;
  }
}
