.home-container {
  background-color: var(--grey);
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}

.main-components {
  display: flex;
  flex-direction: column;
}

.triangle-container::after {
  position: absolute;
  content: "";
  border-top: 20vh solid var(--dark-blue);
  border-right: 100vw solid transparent;
  width: 0;
  transform: scaleY(-1);
  top: 80vh;
  z-index: 0;
}

@media screen and (min-width: 775px) {
  .main-components {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10vw;
    margin-top: 10vh;
  }

  .triangle-container::after {
    border-top: 35vh solid var(--dark-blue);
    top: 65vh;
  }
}
