.placeholder {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: none;
  position: absolute;
  right: 2vw;
  top: 9vh;
}

.error-container {
  background-color: var(--grey);
  border: 3px solid var(--purple);
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vw;
  padding: 1rem;
  z-index: 15;
}

.error-container p {
  color: #d7263d;
  font-weight: bold;
  text-align: center;
}

.error-container button {
  background: none;
  border: none;
}

.error-container button:hover {
  cursor: pointer;
}

@media screen and (min-width: 725px) {
  .placeholder {
    position: absolute;
    right: 25vw;
    top: 5vw;
  }
}
