.memories-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  height: 45vh;
}

.memory-list {
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

.memory-list h1 {
  text-align: center;
}

.memory-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
