.table-of-contents {
  background-color: var(--dark-blue);
  border-radius: 8px;
  border: solid 3px var(--pink);
  display: flex;
  flex-direction: column;
}

.table-of-contents h1 {
  width: 97%;
  text-align: center;
  text-transform: capitalize;
  color: var(--grey);

  font-weight: bold;
  font-size: 30px;
}

.page-toc {
  background-color: var(--purple);
  width: 200px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;

  height: 35px;
  border-radius: 8px;
}

.page-toc:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: translateY(-2px);
}

.toggle-add {
  width: 200px;
  background-color: var(--grey);
  height: 35px;
  border-radius: 8px;
  color: var(--dark-blue);
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.sign-out {
  width: 100px;
  height: 43px;
  background-color: var(--grey);
  color: var(--dark-blue);
  font-weight: bold;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
