.delete-icon {
  background-color: none;
  background: none;
  border: none;
}

.delete-icon img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 10px;
  transform: translateY(5px);
}

.confirm-message-placeholder {
  position: relative;
  margin-right: 50px;
}
