.notecard-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 210px;
  border: 2px solid var(--black);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.pink {
  background-color: var(--pink);
}

.purple {
  background-color: var(--purple);
}

.notecard-container .text {
  text-align: center;
  font-weight: bold;
}
